*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: linear-gradient(#d8105d, #b8da22 50%, #d8105d);
  --text-color: #fff;
}

body {
  background-color: rgb(24, 212, 40);
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1300px;
  margin: 0 auto;
  z-index: -1;
}

.header,
.footer {
  height: 7rem;
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
  color: var(--text-color);
  background-color: #d8105d;
}

.header {
  top: 0;
  position: sticky;
}

.search {
  display: flex;
}

#search {
  padding-left: 15px;
  font-size: 0.8em;
  border-radius: 20px;
}

#search-icon {
  background-image: url(assets/img/search-icon.png);
  background-size: auto;
  background-position: center;
  background-size: cover;
  height: 55px;
  width: 55px;
  cursor: pointer;
  transition: all 1s;
}

#search-icon:hover {
  background-image: url(assets/img/search-icon-hover.png);
} 

.main {
  min-height: calc(100vh - 14rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
  background-image: var(--background-color);
}

.img {
  margin-top: 30px;
  width: 350px;
  height: 225px;
  background-position: center;
  background-size: cover;
  border-radius: 2px;
  cursor: pointer;
}

.rs-logo {
  display: flex;
  gap: 1em;
}

.rs-logo img {
  width: 200px;
  height: 60px;
}

.github a {
  text-decoration: none;
  color: var(--text-color);
  transition: all 1s;
}

.github a:hover {
  color: #000;
}